body {
  background-image: url("/background.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.card {
  background-color: #81909e;
  border-radius: 8px;
  padding: 16px;
  margin: 12px;
  width: 250px;
  box-shadow: 0 4px 6px rgb(0, 0, 0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
